/* layer */
.layer1 {
    background-image: url(/assets/images/Rectangle\ 1\ \(1\).png);
    background-size: cover;
    height: 680px;
    background-repeat: no-repeat;
    
}

/* navbar */
#navbarSupportedContent a {
    color: #ffff;
    font-family: Quicksand;
    line-height: 50px;
    font-weight: 700;
    font-size: 16px;
    padding: 20px;

}

.navbar-toggler{
    position: absolute;
    z-index: 1;
    margin-top: 180px;
   
 }
/* get the deal button */
#btn1 {
    background-color: #aab33c;
    color: #ffff;
    width: 140px;
    height: 40px;
    text-align: center;
}

/* fonts */
@font-face {
    font-family: bestfont;
    src: url(/assets/font/00819\ Regular.ttf)
}

@font-face {
    font-family: open sans;
    src: url(/assets/font/Open\ Sans\ Light.ttf);
}

.par1 {
    font-family: bestfont;
    color: #aab33c;
    font-size: 60px;
    margin-top: 50px;
  
}

/* section 1 content */
.par2 {
    font-family: Quicksand;
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
    margin-top: -20px;
    text-transform: uppercase;
  
}

/* START NOW  button*/
#btn2 {
    background-color: #aab33c;
    color: #ffff;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Quicksand";
}

/* section 2 */
.par3 {
    font-family: Quicksand;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #404142;
}

/* cards */
/* cards section center content */
.cars-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.card:hover{
    transform: scale(1.18);
}
.passage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.passage span {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

/* cards css */
.card {
    opacity: 2;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    background-color: rgba(127, 136, 32, 0.3);
    margin-left: 30px;
    padding: 10px;
    margin-right: 10px;
}

#c1 {
    background-color: #e3e9a6;
    opacity: 2;
    margin-left: 200px;
}

.card-card {
    margin-top: 20px;
}

/* cards text */
.card-text1 {
    margin-top: 10px;
    font-size: 13px;
    line-height: 19px;
    color: #404142;
    font-weight: 650;
    font-family: "Quicksand";
    text-align: center;
    margin-top: 18px;
}

.card-text2 {
    margin-top: 10px;
    font-size: 13px;
    line-height: 19px;
    color: #404142;
    font-weight: 650;
    font-family: "Quicksand";
    text-align: center;
}

.card-text3 {
    margin-top: 13px;
    font-size: 13px;
    line-height: 19px;
    color: #404142;
    font-weight: 650;
    font-family: "Quicksand";
    text-align: center;
}

.card-text4 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 19px;
    color: #404142;
    font-weight: 650;
    font-family: "Quicksand";
    text-align: center;
    margin-top: 13px;
}

/* cards img */
.card-img {
    margin-top: 10px;
}

/* section 2 content */
.par4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.par5,
.par6 {
    font-size: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

/* icons */
.figure-caption1,
.figure-caption2 {
    font-size: 20px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

/* section 3 */
.layer3 {
    background-color:#d8dd9f;
    background-repeat: no-repeat;
  
}


.par7,.para8 {
    font-size: 28px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.par8,
.par9,
.par10 {
    font-size: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}
#complete{
    font-size: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}
/* button 3 */
#btn3 {
    background-color: #aab33c;
    color: #ffff;
    text-align: center;
    width: 210px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    font-family: "Quicksand";
}

/* section 4 */
/* table content */
thead {
    background-color: rgb(170, 180, 62);
    font-family: Quicksand;
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
}
/* table hover */
tr:hover{
    background-color: rgb(212, 221, 111);
}
td:hover{
    background-color: rgb(215, 223, 127);
}

#tp1,
#tp2 {
    font-size: 11px;
    color: #ffff;
    font-weight: 500;
    font-family: "Quicksand";
}

tbody {
    font-size: 11px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

tr:nth-child(even) {
    background-color: rgba(170, 179, 60, 0.302);
}

#t1 {
    font-size: 12px;
    line-height: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

tr:nth-child(7) {
    font-size: 25px;
    color: #aab33b;
    font-weight: 700;
    font-family: "Quicksand";
}

#tp3 {
    font-size: 16px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#t71,
#t72 {
    font-size: 16px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#ps-5 {
    padding-top: 20px;
    padding-left: 69px;
}

/* section 5 */
#k1 {
    padding-top: 20px;

}

.par11 {
    font-size: 35px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.layer5 {
    background-image: url(/assets/images/Rect.png);
}

/* cards */
.card4 {
    font-size: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

/* section 6 para */
#par12 {
    font-size: 35px;

    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#btn4 {
    background-color: #aab33c;
    color: #ffff;
    width: 235px;
    height: 47px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Quicksand";

}

/* section 7 */
.layer7 .container-fluid {
    background-image: url(/assets/images/Rectangle\ 18.png);
}

#form1 {
    display: flow-root
}
.error{
    color: rgb(255, 13, 13);
}
.par13,
.par15,
.par19 {
    font-size: 22px;
    color: #404142;
    font-weight: 900;
    font-family: open sans;
    font-weight: bold;
}

.par14,
.par16,
.par17,
.par18 {
    font-size: 12px;
    color: #404142;
    font-weight: 700;
    font-family: "Open Sans";
}
#b1{
    margin-top:-32px ;
    margin-left: -32px;
}
#p5{
    width: 233px;
height: 61px;
font-size: 15px;
line-height: 18px;
color: #404142;
font-weight: 500;
font-family: "Quicksand";
margin-top: -22px;
margin-left: 48px;
}
#ql {

    width: 142px;
    height: 134px;
    font-size: 12px;
    line-height: 33px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 600;
    font-family: "Open Sans";
}


#p2 {
    margin-top: -40px;
    font-size: 22px;
    line-height: 100px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Open Sans";
}

/* start now button  */
#btn5 {
    width: 112px;
    height: 42px;
    border-radius: 3px;
    background-color: #aab33b;
    color: #ffff;
    font-family: "Open Sans";
    font-weight: 700;
}

/* form content */
#addon-wrapping {
    background-color: #acb643;
}

/* footer */
#h1 {
    background-color: #aab33c;
}
/* footer styling */
#v1 {
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 20px;
    font-weight: 500;
    font-family: "Quicksand";
}
#lay7{
    background-image:url(/assets/images/footerbg.png);
}
/* media queries */
@media screen and (min-width:320px) and (max-width:768px){
    /* for phone image */
    #phone{
        display: none;
    }
}
@media screen and (min-width:320px) and (max-width:768px) {
    /* for submit button */
    #btn2{
        display: none;
    }
}
/* for computer image */
@media screen and (min-width:320px) and (max-width:1000px){
    #comp{
        display: none;
    }

}
@media screen and (min-width:320px) and (max-width:450px){
    /* for table  */
    #t1{
        width: 100px;
        margin-left: -10px;
        margin-right: -20px;
    }
    #tp3{
        font-size: 16px;
    }
}
@media screen and (min-width:320px) and (max-width:768px){
    /* for cards */
    #c1{
        margin-left: 20px;
    }
}
@media screen and (min-width:1020px) and  (max-width:1024px)  {
    #navbarSupportedContent{
        font-size: 11px;
        z-index: 1;
        margin-left: 10px;
        
    }
}
 @media screen and (min-width:320px) and  (max-width:995px)  {

   .navbar-collapse{
        position: absolute;
        z-index: 1;
        margin-top: 650px;
    }
    
#navbarSupportedContent a{
    line-height: 2px;
}
}
@media screen and (min-width:750px) and  (max-width:995px){
    #p5{
     display: block;
     font-size: 10px;
     width: 125px;
    }

}
@media screen  and (min-width:320px) and  (max-width:995px){
    #zoom{
        margin-left: -150px;
        margin-right:50px;
        font-size: 20px;
    }
    #con12{
        display: block;
         margin-left: 15px;
        
    }
    #con13{
        display: block;
        margin-left: 55px;
    }
    #complete{
        margin-left:55px
    }
}