/* layer */
.layer1 {
    background-image: url(/assets/images/Rectangle\ 1\ \(1\).png);
    height: 840px;
}
/* navbar */
#navbarSupportedContent a {
    color: #ffff;
    font-family: Quicksand;
    line-height: 50px;
    font-weight: 700;
    font-size: 16px;
    padding: 20px;
}
/* get the deal button */
#btn1 {
    background-color: #aab33c;
    color: #ffff;
    width: 140px;
    height: 40px;
    text-align: center;
}
/* fonts */
@font-face {
    font-family: stylic;
    src: url(/assets/css/00819\ Regular.ttf)
}
@font-face {
    font-family: open sans;
    src: url(/assets/css/Open\ Sans\ Light.ttf);
}
.par1 {
    font-family: stylic;
    color: #aab33c;
    font-size: 80px;
}
/* section 1 content */
.par2 {
    font-family: Quicksand;
    color: #ffff;
    font-size: 35px;
    font-weight: 700;
    margin-top: -30px;
    text-transform: uppercase;
}
/* START NOW  button*/
#btn2 {
    background-color: #aab33c;
    color: #ffff;
    text-align: center;
    width: 170px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Quicksand";
}
/* section 2 */
.par3 {
    font-family: Quicksand;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #404142;
}
/* cards */
.card1,
.card2,
.card3,
.card4 {
    font-family: Quicksand;
    color: #404142;
    background-color: rgba(170, 179, 60, 0.302);
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

#c4 {
    font-size: 24px;
    line-height: 28px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}
/* section 2 content */
.par4 {
    font-size: 30px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.par5,
.par6 {
    font-size: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}
/* icons */
.figure-caption1,
.figure-caption2 {
    font-size: 20px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}
/* section 3 */
.layer3 {
    background-color: rgba(170, 179, 60, 0.102);
    background-repeat: no-repeat;
}

.par7 {
    font-size: 50px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.par8,
.par9,
.par10 {
    font-size: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}
/* button 3 */
#btn3 {
    background-color: #aab33c;
    color: #ffff;
    text-align: center;
    width: 250px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Quicksand";
}
/* section 4 */
/* table content */
thead {
    background-color: rgb(170, 179, 59);
    font-family: Quicksand;
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
}

#tp1,
#tp2 {
    font-size: 11px;
    color: #ffff;
    font-weight: 500;
    font-family: "Quicksand";
}

tbody {
    font-size: 11px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

tr:nth-child(even) {
    background-color: rgba(170, 179, 60, 0.302);
}

#t1 {
    font-size: 12px;
    line-height: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

tr:nth-child(7) {
    font-size: 25px;
    color: #aab33b;
    font-weight: 700;
    font-family: "Quicksand";
}

#tp3 {
    font-size: 16px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#t71,
#t72 {
    font-size: 16px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#ps-5 {
    padding-top: 20px;
    padding-left: 69px;
}
/* section 5 */
#k1 {
    padding-top: 20px;

}

.par11 {
    font-size: 35px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

.layer5 {
    background-image: url(/assets/images/Rect.png);
}
/* cards */
.card4 {
    font-size: 14px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}
/* section 6 para */
#par12 {
    font-size: 35px;

    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
}

#btn4 {
    background-color: #aab33c;
    color: #ffff;
    width: 235px;
    height: 47px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Quicksand";

}
/* section 7 */
.layer7 .container-fluid {
    background-image: url(/assets/images/Rectangle\ 18.png);
}

.par13,
.par15,
.par19 {
    font-size: 22px;
    color: #404142;
    font-weight: 900;
    font-family: open sans;
    font-weight: bold;
}
.par14,
.par16,
.par17,
.par18 {
    font-size: 12px;
    color: #404142;
    font-weight: 700;
    font-family: "Open Sans";
}
.par20 a,
.par21 a {
    font-size: 12px;
    color: #404142;
    font-weight: 700;
    font-family: "Open Sans";
    text-decoration: none;
    text-decoration-line: none;
}
/* start now button  */
#btn5 {
    width: 112px;
    height: 42px;
    border-radius: 3px;
    background-color: #aab33b;
    color: #ffff;
    font-family: "Open Sans";
    font-weight: 700;
}
/* form content */
form input {
    font-size: 16px;
    color: #404142;
    font-weight: 700;
    font-family: "Open Sans";
}
/* footer */
#h1 {
    background-color: #aab33c;
}
#v1 {
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 33px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 20px;
    font-weight: 500;
    font-family: "Quicksand";
}